:root {
  /** Font settings */
  --ifm-font-family-base: var(--font-family-text);
  --ifm-font-family-monospace: var(--font-family-mono);

  /** Color settings */
  --ifm-color-primary: var(--color-palette-indigo-500);
  --ifm-color-primary-dark: var(--color-palette-indigo-700);
  --ifm-color-primary-darker: var(--color-palette-indigo-800);
  --ifm-color-primary-darkest:  var(--color-palette-indigo-900);
  --ifm-color-primary-light: var(--color-palette-indigo-300);
  --ifm-color-primary-lighter: var(--color-palette-indigo-200);
  --ifm-color-primary-lightest: var(--color-palette-indigo-100);
  --ifm-link-hover-color: inherit;

  --ifm-footer-background-color: var(--color-palette-grey-900);

  /** Button settings */
  --ifm-button-padding-horizontal: 0.75rem;
  --ifm-button-padding-vertical: .5rem;

  /** Border settings */
  --ifm-global-radius: var(--border-radius-small);

  --ifm-background-color: var(--color-background-primary);
  --ifm-background-surface-color: var(--color-background-surface);
  --ifm-font-color-base: var(--color-palette-black);
  --ifm-heading-color: var(--color-palette-black);

  /** Navbar setting */
  --ifm-navbar-shadow: 0 1px 0 0 var(--color-border-primary);
}
