// Class and variable prefix
$prefix: manifest- !default;

// Breakpoints
$screen-breakpoints: (x-small: 0,
  small: var(--small-x-small),
  medium: var(--small-small),
  large: var(--small-medium),
  x-large: var(--small-large),
  xx-large: var(--small-x-large)
) !default;

// Body 
$body-color: var(--color-text-primary) !default;
$body-background-color: var(--color-background-primary) !default;

// Link
$link-color: var(--color-text-primary) !default;
$link-decoration: underline !default;
$link-hover-color: var(--color-text-primary) !default;

// Borders
$border-style: solid !default;
$border-color: var(--color-border-primary) !default;
$border-radius-full: var(--radius-full) !default;
$border-radius-small: var(--radius-small) !default;

// Box shadows
$box-shadow-large: var(--shadow-large) !default;
$box-shadow-medium: var(--shadow-medium) !default;
$box-shadow-small: var(--shadow-small) !default;

// Focus ring
$focus-ring-color: var(--color-palette-indigo-200) !default;
$focus-ring-radius: 4px !default;
$focus-ring-width: var(--border-width-medium) !default;
$focus-ring-offset: -4px;

// Typography
$font-family: var(--font-family-text) !default;
$font-family-code: var(--font-family-mono) !default;

$base-font-size: 16px;

$display-font-size: var(--font-size-xx-large) !default;
$display-font-weight: var(--font-weight-bold) !default;
$display-letter-spacing: var(--letter-spacing-x-small) !default;
$display-line-height: var(--line-height-xx-large) !default;

$heading-font-size: var(--font-size-x-large) !default;
$heading-font-weight: var(--font-weight-bold) !default;
$heading-letter-spacing: var(--letter-spacing-small) !default;
$heading-line-height: var(--line-height-x-large) !default;

$title-font-size: var(--font-size-large) !default;
$title-font-weight: var(--font-weight-bold) !default;
$title-letter-spacing: var(--letter-spacing-medium) !default;
$title-line-height: var(--line-height-large) !default;

$subtitle-font-size: var(--font-size-medium) !default;
$subtitle-font-weight: var(--font-weight-bold) !default;
$subtitle-letter-spacing: var(--letter-spacing-medium) !default;
$subtitle-line-height: var(--line-height-medium) !default;

$body-font-size: var(--font-size-medium) !default;
$body-font-weight: var(--font-weight-regular) !default;
$body-letter-spacing: var(--letter-spacing-medium) !default;
$body-line-height: var(--line-height-medium) !default;

$body-bold-font-size: var(--font-size-medium) !default;
$body-bold-font-weight: var(--font-weight-semibold) !default;
$body-bold-letter-spacing: var(--letter-spacing-medium) !default;
$body-bold-line-height: var(--line-height-medium) !default;

$subtext-font-size: var(--font-size-small) !default;
$subtext-font-weight: var(--font-weight-regular) !default;
$subtext-letter-spacing: var(--letter-spacing-medium) !default;
$subtext-line-height: var(--line-height-small) !default;

$subtext-bold-font-size: var(--font-size-small) !default;
$subtext-bold-font-weight: var(--font-weight-semibold) !default;
$subtext-bold-letter-spacing: var(--letter-spacing-medium) !default;
$subtext-bold-line-height: var(--line-height-small) !default;

$caption-font-size: var(--font-size-x-small) !default;
$caption-font-weight: var(--font-weight-regular) !default;
$caption-letter-spacing: var(--letter-spacing-medium) !default;
$caption-line-height: var(--line-height-x-small) !default;

$caption-bold-font-size: var(--font-size-x-small) !default;
$caption-bold-font-weight: var(--font-weight-semibold) !default;
$caption-bold-letter-spacing: var(--letter-spacing-medium) !default;
$caption-bold-line-height: var(--line-height-x-small) !default;

// Button
$button-background-color: transparent !default;
$button-border-color: transparent !default;
$button-color: var(--color-text-primary) !default;
$button-hover-background-color: transparent !default;
$button-hover-border-color: transparent !default;
$button-hover-color: transparent !default;
$button-active-background-color: transparent !default;
$button-active-border-color: transparent !default;
$button-active-color: transparent !default;
$button-focus-border-color: var(--color-palette-indigo-200) !default;
$button-border-radius: var(--radius-small) !default;
$button-border-width: var(--border-width-medium) !default;
$button-box-shadow: var(--shadow-small) !default;
$button-box-shadow-active: inset 0px 1px 1px rgba(5, 10, 26, 0.25) !default;
$button-disabled-opacity: 0.57 !default;
$button-font-size: var(--font-size-small) !default;
$button-font-weight: var(--font-weight-semibold) !default;
$button-letter-spacing: var(--letter-spacing-medium) !default;
$button-line-height: var(--line-height-small) !default;

$button-padding-x: 0.75rem !default;
$button-padding-x-small: 0.75rem !default;
$button-padding-y: 0.625rem !default;
$button-padding-y-small: 0.375rem !default;

// Table
$table-background-color: transparent !default;
$table-border-color: var(--color-border-primary) !default;
$table-color: var(--color-text-primary) !default;
$table-border-width: var(--border-width-small) !default;
$table-hover-background-color: transparent !default;
$table-hover-color: $table-color !default;
$table-border-width: var(--border-width-small) !default;

$table-td-color: var(--color-text-primary) !default;
$table-td-font-size: $subtext-font-size !default;
$table-td-font-weight: $subtext-font-weight !default;
$table-td-letter-spacing: $subtext-letter-spacing !default;
$table-td-line-height: $subtext-line-height !default;

$table-th-color: var(--color-text-secondary) !default;
$table-th-font-size: $subtext-bold-font-size !default;
$table-th-font-weight: $subtext-bold-font-weight !default;
$table-th-letter-spacing: $subtext-bold-letter-spacing !default;
$table-th-line-height: $subtext-bold-line-height !default;

$table-td-padding-x: var(--space-medium) !default;
$table-td-padding-y: 1.25rem !default;

$table-th-padding-x: var(--space-medium) !default;
$table-th-padding-y: 1.125rem !default;