{% set component_name = name | pascal_case %}

---
to: src/{{ component_name }}.styles.ts
---

import { styled } from '@project44-manifest/react-styles';

export const Styled{{ component_name }} = styled('div', {
  boxSizing: 'border-box',
});
