{% set component_name = name | pascal_case %}

---
to: src/{{ component_name }}.types.ts
---

import type { CSS } from '@project44-manifest/react-styles';

export type {{ component_name }}Element = 'div';

export interface {{ component_name }}Props {
  /** 
    * Theme aware style object 
    */
  css?: CSS;
}
