// TODO update tokens builder to provider an easier path to import.

:root {
  --radius-full: 999em;
  --radius-small: 0.125rem;
  --border-width-large: 0.1875rem;
  --border-width-medium: 0.125rem;
  --border-width-small: 0.0625rem;
  --color-background-danger: #f5e9e8;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f4f4f5;
  --color-background-side-nav: #021c6b;
  --color-background-success: #ddefe6;
  --color-background-surface: #ffffff;
  --color-background-tertiary: #e4e6e7;
  --color-background-top-nav: #1f3987;
  --color-background-warning: #fbede7;
  --color-border-danger: #b4362f;
  --color-border-disabled: #f4f4f5;
  --color-border-primary: #e4e6e7;
  --color-border-success: #0b6b3d;
  --color-border-warning: #f45e1e;
  --color-brand-default: #0072ec;
  --color-brand-active: linear-gradient(0deg, rgba(9, 21, 33, 0.4), rgba(9, 21, 33, 0.4)), linear-gradient(90deg, #0072ec 0%, #4e00c6 163.65%, #8c18e2  191.59%);
  --color-brand-hover: linear-gradient(0deg, rgba(9, 21, 33, 0.2), rgba(9, 21, 33, 0.2)), linear-gradient(90deg, #0072ec 0%, #4e00c6 163.65%, #8c18e2  191.59%);
  --color-brand-gradient: linear-gradient(90deg, #0072ec 0%, #4e00c6 163.65%, #8c18e2  191.59%);
  --color-data-viz-danger-fill: #e3837d;
  --color-data-viz-danger-hover: #b4362f;
  --color-data-viz-danger-line: #d44037;
  --color-data-viz-neutral-fill: #d1d3d6;
  --color-data-viz-neutral-hover: #898e94;
  --color-data-viz-primary-fill: #7785db;
  --color-data-viz-primary-fill-alt: #c7ccf0;
  --color-data-viz-primary-hover: #3442bc;
  --color-data-viz-primary-line: #3142c8;
  --color-data-viz-secondary-fill: #62a9f4;
  --color-data-viz-secondary-fill-alt: #c9e1fb;
  --color-data-viz-secondary-hover: #005cbe;
  --color-data-viz-secondary-line: #0072ec;
  --color-data-viz-tertiary-fill: #b16fed;
  --color-data-viz-tertiary-fill-alt: #ddd0f3;
  --color-data-viz-tertiary-hover: #8110dc;
  --color-data-viz-tertiary-line: #8c18e2;
  --color-data-viz-warning-fill: #ff9365;
  --color-data-viz-warning-hover: #f45e1e;
  --color-data-viz-warning-line: #ff6422;
  --color-palette-black: #091521;
  --color-palette-white: #ffffff;
  --color-palette-blue-50: #ecf4fe;
  --color-palette-blue-100: #c9e1fb;
  --color-palette-blue-200: #95c5f8;
  --color-palette-blue-300: #62a9f4;
  --color-palette-blue-400: #308df1;
  --color-palette-blue-500: #0072ec;
  --color-palette-blue-600: #005cbe;
  --color-palette-blue-700: #00458e;
  --color-palette-blue-800: #003772;
  --color-palette-blue-900: #002956;
  --color-palette-brown-50: #faf0e7;
  --color-palette-brown-100: #ead9ce;
  --color-palette-brown-200: #d8c1b2;
  --color-palette-brown-300: #c4a794;
  --color-palette-brown-400: #b3917b;
  --color-palette-brown-500: #a27c62;
  --color-palette-brown-600: #95715a;
  --color-palette-brown-700: #84634f;
  --color-palette-brown-800: #755646;
  --color-palette-brown-900: #64473a;
  --color-palette-green-50: #ddefe6;
  --color-palette-green-100: #c3e1d2;
  --color-palette-green-200: #93c9ae;
  --color-palette-green-300: #62b08b;
  --color-palette-green-400: #329867;
  --color-palette-green-500: #0e864c;
  --color-palette-green-600: #0b6b3d;
  --color-palette-green-700: #095731;
  --color-palette-green-800: #074326;
  --color-palette-green-900: #06361e;
  --color-palette-grey-50: #fafafb;
  --color-palette-grey-100: #f4f4f5;
  --color-palette-grey-200: #e4e6e7;
  --color-palette-grey-300: #d1d3d6;
  --color-palette-grey-400: #a9adb1;
  --color-palette-grey-500: #898e94;
  --color-palette-grey-600: #697078;
  --color-palette-grey-700: #49515a;
  --color-palette-grey-800: #2a343f;
  --color-palette-grey-900: #091521;
  --color-palette-indigo-50: #e9eafa;
  --color-palette-indigo-100: #c7ccf0;
  --color-palette-indigo-200: #a5aee8;
  --color-palette-indigo-300: #7785db;
  --color-palette-indigo-400: #5c6cd6;
  --color-palette-indigo-500: #3142c8;
  --color-palette-indigo-600: #3442bc;
  --color-palette-indigo-700: #2e39ad;
  --color-palette-indigo-800: #232b9c;
  --color-palette-indigo-900: #16158d;
  --color-palette-orange-50: #fbede7;
  --color-palette-orange-100: #ffd0bc;
  --color-palette-orange-200: #ffb291;
  --color-palette-orange-300: #ff9365;
  --color-palette-orange-400: #ff7b43;
  --color-palette-orange-500: #ff6422;
  --color-palette-orange-600: #f45e1e;
  --color-palette-orange-700: #e65719;
  --color-palette-orange-800: #d85015;
  --color-palette-orange-900: #bf420c;
  --color-palette-pink-50: #fbe5ee;
  --color-palette-pink-100: #f6bed6;
  --color-palette-pink-200: #f194ba;
  --color-palette-pink-300: #ed6a9f;
  --color-palette-pink-400: #ea4c89;
  --color-palette-pink-500: #e83274;
  --color-palette-pink-600: #d72f70;
  --color-palette-pink-700: #c02c69;
  --color-palette-pink-800: #aa2964;
  --color-palette-pink-900: #852259;
  --color-palette-purple-50: #f2e7fc;
  --color-palette-purple-100: #ddd0f3;
  --color-palette-purple-200: #c79bf2;
  --color-palette-purple-300: #b16fed;
  --color-palette-purple-400: #9e4ae8;
  --color-palette-purple-500: #8c18e2;
  --color-palette-purple-600: #8110dc;
  --color-palette-purple-700: #7300d3;
  --color-palette-purple-800: #6500ce;
  --color-palette-purple-900: #4e00c6;
  --color-palette-red-50: #f5e9e8;
  --color-palette-red-100: #f4cfcd;
  --color-palette-red-200: #eca9a5;
  --color-palette-red-300: #e3837d;
  --color-palette-red-400: #da5d55;
  --color-palette-red-500: #d44037;
  --color-palette-red-600: #b4362f;
  --color-palette-red-700: #942d27;
  --color-palette-red-800: #75231e;
  --color-palette-red-900: #551a16;
  --color-palette-yellow-50: #fefae7;
  --color-palette-yellow-100: #fbf1c4;
  --color-palette-yellow-200: #f8e99f;
  --color-palette-yellow-300: #f4e07b;
  --color-palette-yellow-400: #f0d961;
  --color-palette-yellow-500: #ecd348;
  --color-palette-yellow-600: #dcc243;
  --color-palette-yellow-700: #c8ac3d;
  --color-palette-yellow-800: #b39638;
  --color-palette-yellow-900: #90722f;
  --color-primary-default: #3142c8;
  --color-primary-active: #16158d;
  --color-primary-hover: #2e39ad;
  --color-text-contrast: #ffffff;
  --color-text-danger: #b4362f;
  --color-text-disabled: #a9adb1;
  --color-text-primary: #091521;
  --color-text-secondary: #49515a;
  --color-text-success: #0b6b3d;
  --color-text-tertiary: #898e94;
  --color-text-warning: #f45e1e;
  --shadow-large: 0px -1px 2px rgba(61, 58, 180, 0.1), 0px 6px 14px rgba(61, 58, 180, 0.15);
  --shadow-medium: 0px -1px 2px rgba(61, 58, 180, 0.1), 0px 4px 5px rgba(61, 58, 180, 0.15);
  --shadow-small: 0px -1px 2px rgba(61, 58, 180, 0.1), 0px 1px 2px rgba(61, 58, 180, 0.4);
  --z-index-dialog: 6000;
  --z-index-dropdown: 7000;
  --z-index-modal: 9000;
  --z-index-overlay: 8000;
  --z-index-popover: 5000;
  --z-index-sticky: 100;
  --z-index-toast: 10000;
  --z-index-tooltip: 6000;
  --size-large: 87.5rem;
  --size-medium: 80rem;
  --size-small: 60rem;
  --size-x-large: 120rem;
  --size-x-small: 40.625rem;
  --space-medium: 1rem;
  --space-small: 0.5rem;
  --space-large: 1.5rem;
  --space-x-large: 2rem;
  --space-x-small: 0.25rem;
  --font-family-mono: "Fira Mono", Courier, monospace;
  --font-family-text: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
  --font-size-x-large: 1.5rem;
  --font-size-x-small: 0.75rem;
  --font-size-xx-large: 2rem;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --letter-spacing-large: 0em;
  --letter-spacing-medium: -0.01em;
  --letter-spacing-small: -0.02em;
  --letter-spacing-x-small: -0.03em;
  --line-height-large: 1.875rem;
  --line-height-medium: 1.5rem;
  --line-height-small: 1.25rem;
  --line-height-x-large: 2rem;
  --line-height-x-small: 1.125rem;
  --line-height-xx-large: 2.625rem;
}
