.footer--dark {
  --ifm-footer-background-color: var(--color-palette-grey-800);
  --ifm-footer-color: var(--ifm-footer-link-color);
  --ifm-footer-link-color: var(--color-palette-grey-200);
  --ifm-footer-title-color: var(--color-palette-white);
}