:root {
  --ifm-hero-background-color: var(--color-palette-grey-50);
}

.hero {
  min-height: 540px;

  .hero__title {
    line-height: 1.25;
    margin-bottom: var(--space-large);
  }

  .hero__subtitle {
    font-family: var(--font-family-text);
    font-size: var(--font-size-medium);
    font-weight:  var(--font-weight-regular);
    letter-spacing:  var(--letter-spacing-medium);
    line-height: var(--line-height-medium);
  }

  .hero__title--gradient {
    background-image: var(--color-brand-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero__image {
    height: 356px;
    position: absolute;
    width: 498px;
    top: 156px;
  }

  .hero__button {
    margin-bottom: var(--space-large);
    margin-top: var(--space-large);
  }
}

@media (max-width: 996px) {
  .hero {
    .hero__image {
      display: none;
    }
  }
}