.demo {
  border-radius: var(--radius-small);

  &__preview {
    background-color: var(--color-background-primary);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--radius-small);
    border-bottom: none;
    outline: none;
    position: 'relative';
    max-width: 100%;
    text-decoration: none;
  }

  &__iframe {
    display: block;
    resize: none;
    min-height: 12.5rem;
    overflow: auto;
    width: 100%;
  }

  &__code {
    border: 1px solid var(--color-border-primary);
    margin: 0;
  
    pre {
      margin-bottom: 0;
    }
  }
}

.demo-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-left: var(--space-medium);
  padding-right: var(--space-medium);
}
