*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  padding: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

figure {
  margin: 0;
}

b,
strong {
  font-weight: $font-weight-bold;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}
