body {
  background-color: $body-background-color;
  color: $body-color;

  font-family: $font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  letter-spacing: $body-letter-spacing;
  line-height: $body-line-height;
}


h1 {
  font-size: $display-font-size;
  font-weight: $display-font-weight;
  letter-spacing: $display-letter-spacing;
  line-height: $display-line-height;
}

h2 {
  font-size: $heading-font-size;
  font-weight: $heading-font-weight;
  letter-spacing: $heading-letter-spacing;
  line-height: $heading-line-height;
}

h3 {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  letter-spacing: $title-letter-spacing;
  line-height: $title-line-height;
}

h4 {
  font-size: $subtitle-font-size;
  font-weight: $subtitle-font-weight;
  letter-spacing: $subtitle-letter-spacing;
  line-height: $subtitle-line-height;
}

p {
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  letter-spacing: $body-letter-spacing;
  line-height: $body-line-height;
}

caption {
  padding-top: $table-cell-padding-y;
  padding-bottom: $table-cell-padding-y;
  color: $table-caption-color;
  text-align: left;
}

td {
  font-size: $subtext-font-size;
  font-weight: $subtext-font-weight;
  letter-spacing: $subtext-letter-spacing;
  line-height: $subtext-line-height;
}

th {
  font-size: $subtext-bold-font-size;
  font-weight: $subtext-bold-font-weight;
  letter-spacing: $subtext-bold-letter-spacing;
  line-height: $subtext-bold-line-height;
}