name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:

env:
  PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  validate:
    name: Validate
    runs-on: 'ubuntu-latest'

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: build
        run: yarn build

      - name: Format
        run: yarn format

      - name: Lint
        run: yarn lint

      - name: Run Jest
        run: yarn test

      - name: Run Percy tests
        run: yarn --cwd ./apps/storybook/ test:visual
