@each $breakpoint in map-keys($screen-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $screen-breakpoints);

  @include media-breakpoint-up($breakpoint, $screen-breakpoints) {
    .#{$prefix}text#{$infix}-center {
      text-align: center !important;
    }

    .#{$prefix}text#{$infix}-justify {
      text-align: justify !important;
    }

    .#{$prefix}text#{$infix}-start {
      text-align: start !important;
    }

    .#{$prefix}text#{$infix}-end {
      text-align: end !important;
    }

    .#{$prefix}text#{$infix}-left {
      text-align: left !important;
    }

    .#{$prefix}text#{$infix}-right {
      text-align: right !important;
    }

    .#{$prefix}text#{$infix}-nowrap {
      white-space: nowrap !important;
    }

    .#{$prefix}text#{$infix}-wrap {
      white-space: normal !important;
    }
  }
}